{% extends 'portfolioapp/base.html'%}
{%load static%}
{%block title%}{{project.name}}{%endblock%}
{%block menu%}{%endblock%}
{%block displayPage%}
<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row ">
            
            <div class="col">
                <img src="{{blog.image.url}}" class="about-image img-fluid" alt="">
                    <br>
                    <br>
                        <h2 >{{blog.title}}</h2>
                        <small> Posted  {{blog.date | timesince}} ago</small>
                            <!--<p> Posted By: {{blog.user.username}}</p>-->

                    <p class="justify-content-md-center">{{blog.description |urlize|linebreaks}}</p>
                </div>
            <div class="col-md-3"><h4>Categories</h4>
                    <ul  class="list-group list-group-flush">
                        {% for category in categories%}
                        <li class="list-group-item">
                            <a class="nav-link text-success"  href="{% url 'blog-by-category' category.name%} ">{{category.name}}</a>
                          </li>
                            {%endfor%}
                    </ul>
                </div>
        </div>
    </div>
</section>
{%endblock%}
{%block displayNot %}{%endblock%}