{% extends 'portfolioapp/base.html'%}
{%load static%}
{%block title%}{{blog.title}}{%endblock%}
{%block menu%}{%endblock%}
{%block displayPage%}
<br>
<br>
<div class="container">
    <div class="row"> 
        <div class="col-md-9">
            <div class="row">
    {% for blog in blogs%}
    <div class="col-md-4">
       
<div class="card" >
    <img class="card-img-top thumb" style="height:200px; object-fits:cover;" src="{{blog.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{blog.title| title|truncatewords:8}}</h5>
      <p class="card-text">{{blog.description|truncatewords:20}}</p>
      <a href="{%url 'blog-view' blog.slug%}" class="btn btn-secondary"> Read more..</a>
    </div>
</div>
</div>
{%empty%}
<p> No Post Found</p>
{%endfor%}
</div>
</div>
<div class="col-md-3">

    <h4>Categories</h4>
    <ul  class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="nav-link text-success"  href="{% url 'blog_all'%}">All</a>
          </li>
        {% for category in categories%}
        <li class="list-group-item">
     
            <a class="nav-link text-success"  href="{% url 'blog-by-category' category.name%}?category={{category.name}} ">{{category.name}}</a>
          </li>
            {%endfor%}
    </ul>
</div>   


</div>
  </div>
  {%endblock%}
  {%block displayNot %}{%endblock%}
  