{% extends 'portfolioapp/base.html'%}
{%load static%}
{%block title%}{{project.name}}{%endblock%}
{%block menu%}{%endblock%}
{%block displayPage%}
<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <img src="{{project.image.url}}" class="about-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="about-thumb">

                    <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                        <h2 class="text-white me-4 mb-0">{{project.name}}</h2>

                        <img src="{{project.image.url}}" class="avatar-image img-fluid" alt="">
                    </div>

                    <p>{{project.description |urlize}}</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="projects section-padding" id="section_4">
    <div class="container">
        <div class="row">
           
            <div class="clearfix"></div>
            {% for image in images%}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="projects-thumb">
                    <div class="projects-info">
                        <h4 class="projects-title">{{image.title}}</h4>
                        <p >{{image.description | linebreaks| truncatewords:15}}</p>

                      
                    </div>
                   
                            <hr>
                    <a href="{{image.image.url}}" class="popup-image">
                        <img src="{{image.image.url}}" class="projects-image img-fluid" alt="">
                    </a>
                </div>
            </div>
                {% endfor %}
            

        </div>
    </div>
</section>
{%endblock%}
{%block displayNot %}{%endblock%}